# Ollama URL for the backend to connect
# The path '/ollama' will be redirected to the specified backend URL
OLLAMA_BASE_URL='http://localhost:11434'

OPENAI_API_BASE_URL=''
OPENAI_API_KEY=''
REDIS_URL='redis://redis:6379/0'
DATABASE_URL=''
# AUTOMATIC1111_BASE_URL="http://localhost:7860"

# DO NOT TRACK
SCARF_NO_ANALYTICS=true
DO_NOT_TRACK=true
ANONYMIZED_TELEMETRY=false

# Better auth
BETTER_AUTH_SECRET=''
BETTER_AUTH_URL=''
BETTER_AUTH_DATABASE_URL=''

ENABLE_SIGNUP=true
ENABLE_OAUTH_SIGNUP=true

GITHUB_CLIENT_ID=''
GITHUB_CLIENT_SECRET=''

# Microservices configuration
FRONTEND_PORT=3000
BACKEND_PORT=8080

# Langflow
LANGFLOW_DATABASE_URL=''
LANGFLOW_CONFIG_DIR=app/langflow
LANGFLOW_HOST=0.0.0.0
LANGFLOW_PORT=7860

# OpenTelemetry
GRAFANA_PORT=3001

# Web Search 
ENABLE_WEB_SEARCH=true
ENABLE_SEARCH_QUERY_GENERATION=true
WEB_SEARCH_ENGINE=tavily
TAVILY_API_KEY=''
WEB_SEARCH_RESULT_COUNT=2
WEB_LOADER_CONCURRENT_REQUESTS=6
WEB_LOADER_ENGINE=safe_web
BYPASS_WEB_SEARCH_EMBEDDING_AND_RETRIEVAL=false