# Ollama URL for the backend to connect
# The path '/ollama' will be redirected to the specified backend URL
OLLAMA_BASE_URL='http://localhost:11434'

OPENAI_API_BASE_URL=''
OPENAI_API_KEY=''
REDIS_URL=''
DATABASE_URL=''
# AUTOMATIC1111_BASE_URL="http://localhost:7860"

# DO NOT TRACK
SCARF_NO_ANALYTICS=true
DO_NOT_TRACK=true
ANONYMIZED_TELEMETRY=false

# Better auth
BETTER_AUTH_SECRET=''
BETTER_AUTH_URL=''
BETTER_AUTH_DATABASE_URL=''

ENABLE_SIGNUP=true
ENABLE_OAUTH_SIGNUP=true

GITHUB_CLIENT_ID=''
GITHUB_CLIENT_SECRET=''